/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        /* border: 0; */
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    * {
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }

    h1, h2, h3, h4, h5 {
        font-size: 18px;
        margin-bottom: 15px;
        font-family: 'Rubik', sans-serif;
    }

    p {
        line-height: 1.4;
    }
/*  */

/* * {border: 1px solid silver;} */

p {font-size: 15px;}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}
    header img {margin: 0; padding: 0;}
    header nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: -12px;
    }

    header nav a {
        /* margin-right: 65px; */
        font-size: 14px;
        color: black;
        text-decoration: none;
    }

    header nav a:hover {
        text-decoration: underline;
    }


img.crown {
    margin: 25px 0 0;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    /* width: 96%; */
    /* padding: 0 1%;
    padding-bottom: 20px;   */
}

.middle-content {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    margin-bottom: 15px;
}

.middle-content h2 {
    margin-top: 10px;
}

.middle-content .box {
    flex: 0 0 43%;
    margin: 20px 0 35px;
}


button {
    background-color: white;
    width: 125px;
    height: 35px;
    margin: 15px 0;
    border: 2px solid black;
    /* font-size:10px; */
    border-radius: 10px;
    cursor: pointer;
}


.bottom-content {
    border-top: 1px dashed black;
    margin: 0px 2% 30px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.bottom-content form {
    width: 65%;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}